.container {
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    outline: none;
  }
  // background: red;
  display: flex;
  .pageClassName {
    margin: 0 10px;
    // background: red;
  }
  .activeClassName {
    background: red;
  }
  .previousClassName {
    &.hide{
      display: none !important;
    }
    color: blue;
  }
  .nextClassName {
    &.hide{
      display: none !important;
    }
    color: yellow;
  }
}
