@pannel_li_height: 26px;
@view_width: 400px;

.views {
  display: flex;
  :global {
    .view + .view {
      margin-left: 10px;
    }
  }
}

.views + .views {
  margin-top: 10px;
}

.latestRecord {
  width: @view_width;
  ul {
    width: 100%;
    li {
      width: 100%;
      display: flex;
      align-items: center;
      span {
        width: 25%;
        display: inline-block;
      }
    }
  }
  div.record_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul.record_theader {
    li {
    }
  }
  ul.record_content {
    li {
      font-size: 13px;
      height: @pannel_li_height;
      padding: @padding_panel;
      &:nth-child(2n) {
        background: @c_pannel_dark;
      }
    }
  }
}

.ensureRecord {
  width: @view_width;
  font-size: 13px;
  .theader {
    color: @c_pannel_theader_color;
    background: @c_pannel_dark;
    height: 32px;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: @padding_panel;
    padding-right: 27px;
    height: 43px;
    background: @c_pannel_header_dark;
    .left {
      font-size: 16px;
      font-weight: bold;
    }
    .right {
      display: flex;
      align-items: center;
      .ensure {
        margin-right: 10px;
      }
    }
  }
  ul {
    height: 100%;
    li {
      height: @pannel_li_height;
      display: flex;
      align-items: center;
      padding: @padding_panel;
      span {
        display: inline-block;
        width: 33.3333%;
        &.top_price {
          color: @_red;
        }
        &.down_price {
          color: @_green;
        }
      }
      &:nth-child(2n) {
        background: @c_pannel_dark;
      }
    }
  }
}

.purse {
  width: @view_width;
  .content {
    display: flex;
    color: @c_like_white;
    padding: 20px 32px;
    .area + .area {
      margin-left: 40px;
    }
    .area {
      flex-grow: 1;
      .priceitem + .priceitem {
        margin-top: 20px;
      }
      .priceitem {
        .priceinput {
          display: flex;
          .label {
            vertical-align: text-bottom;
            font-size: 13px;
            min-width: 98px;
            margin-right: 10px;
            .label_desc {
              opacity: .5
            }
          }
          .input_number {
            flex-grow: 1;
            height: 40px;
            border: 1px solid #353D4F;
            background: #2A303C;
            div {
              line-height: 40px;
              vertical-align: center;
              // border: 1px solid red;
              display: flex;
              align-items: center;
              justify-content: center;
              // font-weight: bold;
              padding: 15px;
              font-size: 26px;
              opacity: .5;
              // color: white;
            }
            input {
              text-align: center;
              outline: none;
            }
          }
        }
        .introduction {
          margin-top: 6px;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .introduction_desc {

          }
          .introduction_price {
            margin-left: 13px;
            color: @c_active_yellow;
          }
        }
      }
      .ensuremoney {
        margin-top: 20px;
        :global(.ant-slider-with-marks) {
          margin-bottom: 0;
        }
        :global(.ant-slider-rail) {
          background: @c_obvious;
        }
        :global(.ant-slider-dot) {
          width: 10px;
          height: 10px;
          top: -3px;
        }
        :global(.ant-slider-track) {
          background: @c_active_yellow;
        }
        :global(.ant-slider-handle) {
          border: 4px solid @c_active_yellow;
        }
        :global(.ant-slider-dot-active) {
          border: none;
          background: @c_active_yellow;
        }
        .description {
          display: flex;
          justify-content: space-between;
          span {
            &:nth-child(2n) {
              margin-left: 20px;
              color: @c_active_yellow;
            }
          }
        }
      }

      .submit {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: @border_radius;
        height: 40px;
        margin-top: 30px;
        span.text {
          font-size: 16px;
        }
        span + span {
          margin-left: 10px;
        }
        &.buy {
          background-image: linear-gradient(90deg, #62A48C 0%, #579880 100%);
        }
        &.sell {
          background-image: linear-gradient(90deg, #C3696E 0%, #AF565B 100%);
        }
      }
    }
  }
}
