.toast_tip {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 40px;
  padding: 19px 31px;
  .content{
    color: white;
    background: rgba(0, 0, 0, .5);
    padding:19px 31px;
    border-radius: 4px;
  }

  left: 0px;
  right: 0px;
  margin:0 auto;

}

:global {
  .Toastify__toast-container {

  }
}
