.myaccount {

  .header {
    display: flex;
    height: 160px;
    justify-content: space-between;
    background-image: linear-gradient(-225deg, #F2D38B 0%, #E3BA71 100%);
    padding: 0 40px 20px 80px;
    .left {
      flex-grow: 1;
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      align-items: center;
      .email {
        width: 100%;
        color: #FFFFFF;
        font-size: 28px;
      }
      .country {
        font-size: 20px;
        color: #FFFFFF;
        opacity: .8;
        margin-top: 12px;
      }
    }
    .right {
      display: flex;
      align-items: flex-end;
      color: #FFFFFF;
      >div{
        margin-left: 20px;
      }
      span {
        margin-left: 5px;
      }
    }
  }
}
