.home {
  .header {
    //height: 300px;
    img {
      width: 100%;
    }
  }
  .notice {
    height: 30px;
    margin: 0;
    width: 100%;
    background-color: #1D222E;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 30px;
  }
  .aboutUs {
    height: 400px;
    background-image: url(../../assets/home-phone.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-end;

    .aboutUsContent {
      width: 50%;
    }
  }
}
