@width: 1.333;
.home {
  .header {
    padding: 0;
    margin: 0;
    min-height: 200px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .headerPart {
    width: 30px/@width;
    height: 30px/@width;
    background-color: #E2B96F;
  }
  .aboutUsFont {
    //margin-top: 40px/@width;
    font-size: 42px;
    color: #E2B96F;
    margin-top: 40px/@width;
  }
  .absolutFont {
    letter-spacing: -1px;
  }
  .notice {
    height: 42px;
    margin: 0;
    width: 100%;
    background-color: #1D222E;
    //font-size: 16px;
    color: #FFFFFF;
    line-height: 42px;
    overflow: hidden;
    p {
      line-height: 42px;
      height: 100%;
      animation: notice 20s linear infinite;
      margin: 0;
      padding: 0;
      cursor: pointer;

      &:hover {
        animation-play-state:paused;
      }
    }
  }
  .aboutUs {
    height: 800px/@width;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;

    .imgContainer {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      img {
        width: 400px;
        display: inline-block;
        margin-right: 100px;
      }
    }

    .aboutUsContent {
      position: relative;
      width: 50%;
      .absoluteFont {
        position: absolute;
        top: 25%;
        font-size: 100px/@width;
        opacity: 0.04;
        color: #232833;
      }
      .headerPart {
        margin-top: 249px/@width;
        width: 30px/@width;
        height: 30px/@width;
        background-color: #E2B96F;
      }

      .aboutUsFont {
        font-size: 42px;
        color: #E2B96F;
      }

      .aboutUsMain {
        margin-top: 60px/@width;
        width:700px/@width;
        font-size: 20px;
        line-height: 29px;
        color: #232833;
      }
    }
  }
  .adventure {
    width: 1600px/@width;
    margin: 0 auto;
    position: relative;

    .absoluteFont {
      position: absolute;
      top: 0;
      left: 10%;
      font-size: 100px/@width;
      opacity: 0.04;
      color: #232833;
    }

    .adventureContainer {
      width: 1500px/@width;
      margin: 120px/@width auto;
      //margin-top: 110px/@width;
      min-height: 500px;
      display: flex;
      flex-wrap: wrap;

      .adventureItem {
        width: 450px/@width;
        height: 600px/@width;
        margin: 0 8px 20px 8px;
        background: #FFFFFF;
        border: 1px solid #EBEBEB;
        display: flex;
        flex-direction: column;
        align-items: center;

        .itemIcon {
          margin-top: 124px/@width;
          width: 213px/@width;
          //border-radius: 213px/@width;
          //background-color: #0a8415;
          img {
            width: 100%;
          }
        }
        .itemTitle {
          margin-top: 4px;
          font-size: 25px;
          color: #333;
        }
        .itemContent {
          margin-top: 20px;
          font-size: 16px;
          color: #666666;
          line-height: 30px;
          text-align: center;
        }
      }
    }
    .contract {
      display: flex;


      .imgContainer {
        width: 50%;
        position: relative;
        flex-grow: 0;

        img {
          width: 1000px;
          position: absolute;
          right: 178px/@width;
          bottom: 0;
        }
      }
      .contractItem {
        width: 50%;
        flex-shrink: 0;
        .contractDes {
          margin-top: 30px;
          font-size: 16px;
          line-height: 26px;
          color: #666666;
        }
      }
    }
  }
  .contractIconContainer {
    .firstIconLine, .secondIconLine {
      margin-top: 45px/@width;
      display: flex;
      justify-content: flex-start;

      .iconItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 60px/@width;
      }
      .bitIcon {
        width: 140px/@width;
        height: 140px/@width;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      .iconDes {
        margin-top: 20px/@width;
        font-size: 18px;
        color: #666666;
      }
    }
  }
  .homeFooter {
    margin-top: 328px/@width;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url(../../assets/home-footer.png);
    //background-size: contain;
    padding-top: 186px;

    .footerTitle {
      font-size: 30px;
      color: #FFFFFF;
      margin-left: 20%;
    }
    .signButton {
      cursor: pointer;
      margin-top: 50px;
      border: none;
      color: #fff;
      width: 300px;
      height: 48px;
      line-height: 48px;
      background-image: linear-gradient(90deg, #EBCB80 0%, #E0BD7E 100%);
      border-radius: 2px;
      margin-left: 20%;
    }
  }
}
@keyframes notice {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
