@import '../../common.less';

.marketTradeHistory {
  :global {
    .table {
      :global {
        .thead {
          .tr{
            height: @header2;
          }
          font-size: 12px;
        }
        .tbody {
          font-size: 13px;
          .tr {
            height: @header2;
            &:hover {
              background: #eff1f3 !important;
            }
            &.even {
              background: #F6F8FA;
            }

          }
        }
      }
    }
  }
}
