.tableContainer {
  width: 100%;
  height: 100%;
  .table {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .tr {
      display: flex;
    }
    .td, .th {
      flex-shrink: 1;
      flex-grow: 1;
    }
    .thead {
      background: red;
      position: relative;
      .tr {
        .th {

        }
      }
    }
    .tbody {
      background: #52c41a;
      .tr {
        .td {

        }
      }
    }
    ._scrollerTableContainer {
      position: relative;
      flex-grow: 1;
      ._scrollerTable {
        width: 100%;
        height: 100%;
        position: absolute;
        background: blue;
      }
    }
  }
}

