@import '~@styles/variable.less';
:global(.device) {
  height: 100%;
}

.overbody {
  .mixinC();
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 1240px;
  overflow-x: auto;
  color: @c_like_white;
  &.dark {

  }
  .header {
    display: flex;
    align-items: center;
    height: 70px;
    min-height: 70px;
    padding: 0 3.6%;
    background: @c_pannel_dark;
    > div {
      display: flex;
      flex-grow: 1;
      align-items: center;
      height: 100%;
      &.left {
        // background: red;
        img {
          //height: 31px;
          margin-right: 50px;
        }
        ul.nav {
          margin-bottom: 0;
          list-style: none;
          display: flex;
          align-items: center;
          font-size: 16px;
          li.navli + li.navli {
            margin-left: 50px;
          }
          li.navli {
            position: relative;
            .border{
              position: absolute;
              width:100%;
              bottom:-10px;
              border: 2px solid @c_active_yellow;
            }
            .dropdown {
              z-index: 10;
              position: absolute;
              display: none;
            }
            &:hover{
              .dropdown {
                position: absolute;
                z-index: 2;
                display: block;
                padding-top: 20px;
                .dropdowncontent {
                  font-size: 13px;
                  padding: 20px 20px;
                  min-width: 330px;
                  background: white;
                  border-radius: 4px;
                  color: black;
                  .licontainer + .licontainer {
                    margin-top: 20px;
                  }
                  .licontainer {
                    .liheader{
                      font-size: 16px;
                      color: black;
                      font-weight: 600;
                    }
                    ul {
                      margin-top: 10px;
                      li {
                        // background: red;
                        &:hover{
                          background: #DAE0E4;
                          border-radius: 4px;
                        }
                        display: flex;
                        justify-content: space-between;
                        padding: 10px;
                        > div {
                          display: flex;
                          align-items: center;
                          white-space: nowrap;
                          &.name {
                            > div{
                              margin-right: 5px;
                              padding:3px 4px;
                              background: #D8D8D8;
                              border-radius: 2px;
                              color: #666666;
                            }
                            display: flex;
                            // background: red;
                            width: 33%;
                            min-width: 120px;
                          }
                          &.price {
                            // background: red;
                            width: 33%;
                            min-width: 80px;
                          }
                          //&.percent {
                          //  // width: 30%;
                          //}
                        }
                        div + div {
                          // margin-left: 10%;
                        }
                      }
                    }
                  }
                }
              }
            }

          }
          li.navli.active {
            // height:30px;
            // padding-bottom: 5px;
            color: @c_active_yellow;
            // border-bottom: 2px solid @c_active_yellow;
          }
        }
      }
      &.right {
        display: flex;
        justify-content: flex-end;
        // background: blue;
        ul {
          // background: red;
          display: flex;
          align-items: center;
          height: 100%;
          li + li {
            border-left: 1px solid rgba(255, 255, 255, .2);
          }
          li {
            cursor:pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 30px;
            span {
              margin-left: 13px;
            }
            &.user {
              &:hover {
                .accountContainer {
                  display: block;
                }
              }
              position: relative;
              .accountContainer {
                display: none;
                position: absolute;
                width: 220px;
                top: 13px;
                z-index: 2;
                .content {
                  padding: 20px;
                  padding-bottom: 0;
                  margin-top: 20px;
                  box-shadow: 0 4px 10px 0 rgba(85, 87, 97, 0.23);
                  border-radius: 4px;
                  width: 100%;
                  height: 100%;
                  background: rgba(255, 255, 255, 1);
                  .themelist {
                    display: flex;
                    li {
                      > div {
                        margin-right: 5px;
                        width: 15px;
                        height: 15px;
                        border: 5px solid @c_active_yellow;
                        border-radius: 10px;
                      }
                      display: flex;
                      justify-content: flex-start;
                      color: #333333;
                      width: 100%;
                      height: 100%;
                      padding: unset
                    }
                  }
                  .desc {
                    cursor: pointer;
                    border: 1px solid @c_active_yellow;
                    height: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 30px 0 30px;
                    color: @c_active_yellow;
                  }
                  .loginout {
                    cursor: pointer;
                    color: #5088EB;
                    display: flex;
                    justify-content: center;
                    border-top: 1px solid #EBEBEB;
                    padding: 13px 0;
                  }
                }
              }
            }
          }
        }
      }
    }

  }

  .content {
    flex-grow: 1;
  }

  .footer {
    position: relative;
    padding: 100px 220px 100px 100px;
    background: @c_pannel_dark;
    background-image: url('../../../assets/footerback.png');
    height: 400px;
    .top {
      display: flex;
      height: 200px;
      > div {
        flex-grow: 1;
      }
      .left {
        .logo {
          font-size: 20px;
          img {
            height: 50px;
            margin-right: 20px;
          }
        }

        .desc {
          margin: 30px 0 40px;
        }
        ul {
          display: flex;
          li + li {
            margin-left: 20px;

          }
          li {
            background: white;
            width: 22px;
            height: 22px;
            border-radius: 22px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .right {
        display: flex;
        justify-content: flex-end;
        .columns + .columns {
          margin-left: 144px;
        }
        .columns {
          color: @c_like_white_07;
          div {
            color: white;
            font-size: 14px;

          }
          li {
            margin-top: 30px;
          }
        }
      }
    }
    .down {
      display: flex;
      justify-content: center;
      left: 0;
      right: 0;
      color: @c_like_white_05;
      position: absolute;
      bottom: 40px;
    }
  }
}

//:global(.mobile) {
//  .header {
//    height: 30px;
//  }
//}






