:global(.device) {
  height: 100%;
}

.overbody {
  width: 100%;
  height: 100%;
  min-width: 1240px;
  overflow-x: auto;
  color: @c_like_white;
  &.dark {
    background: @c_back_dark;
  }
  .header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 70px;
    &.dark {
      background: @c_front_dark;
    }
    img {
      margin-right: 50px;
    }
    ul.nav {
      margin-bottom: 0;
      list-style: none;
      display: flex;
      align-items: center;
      font-size: 16px;
      li.navli + li.navli {
        margin-left: 50px;
      }
      li.navli {
        position: relative;
        .dropdown {
          position: absolute;
          z-index: 1;
          display: block;
          padding-top: 5px;
          ul {
            width: 200px;
            background: white;
            border-radius: 4px;
            color: black;
            li {
              &:hover {
                color: white;
                background: red;
              }
              padding: 3px 20px;
            }
          }
        }
        &:hover {

        }
      }
      li.navli.active {
        padding-bottom: 6px;
        color: @c_active_yellow;
        border-bottom: 2px solid @c_active_yellow;
      }
    }
  }

  .content {
    padding: 10px;
  }
}

//:global(.mobile) {
//  .header {
//    height: 30px;
//  }
//}




