.pannelContainer{
  display: flex;
  justify-content: center;
  padding: 18px;
  width:100%;
  background: @c_back;
}
.navpannel {
  width: 79%;
  display: flex;
  .nav {
    border-radius: 4px;
    width: 19%;
    min-height: 500px;
    margin-right: 20px;
    background: white;
    padding-top: 21px;
    :global {
      ul.block {
        > li {
          .title {
            padding-left: 32px;
            color: @c_active_yellow;
            font-size: 16px;
            img {
              margin-right: 13px;
            }
          }
          ul.list {
            margin-top: 20px;
            li {
              display: flex;
              height: 40px;
              padding-left: 30%;
              align-items: center;
              color: #232833;
              &.active {
                border-left:4px solid #E2B96F;
                background: #FFFBF3;

              }
            }
          }
        }
      }
    }
  }
  .content {
    border-radius: 4px;
    flex-grow: 1;
    background: white;
  }
}
