html, body, :global(#root) {
  height: 100%;
}

*{
  line-height: 1;
}

ul {
  list-style: none !important;
  margin: 0 ;
  margin-bottom: 0 !important;
  padding: 0 ;
}

li {
  margin: 0;
  padding: 0;
}



